# nodejs specific
node_modules/
.*
.*/
start.sh
*.log

# dont include any of the isaac resource files..
node/**/*.xml
node/**/*.png
node/**/*.xcf

# c++ specific
*.opensdf
*.sdf
*.suo
*.idc
Release/
Debug/
ipch/

!*.lib
