ul.consumable-list, ul.trinket-list, ul.pocket-list {
    font-size: 11px;
    font-weight: bold;
    list-style: none;
    padding: 5px;
}

ul.consumable-list li:before {
    content: "";
    display: inline-block;
    height: 16px;
    left: -2px;
    position: relative;
    top: 4px;
    width: 16px;
}

ul.consumable-list li.coins:before {
    background: url(/gfx/ui/hudpickups.png) 0px 0px;
}

ul.consumable-list li.bombs:before {
    background: url(/gfx/ui/hudpickups.png) 0px 16px;
}

ul.consumable-list li.keys:before {
    background: url(/gfx/ui/hudpickups.png) -16px 0px;
}

ul.item-list {
    list-style: none;
    overflow: hidden;
    padding: 5px;
}

ul.item-list li {
    display: inline-block;
    float: left;
    border: 1px solid transparent;
}

ul.item-list li.active {
    border: 1px solid red;
    border-radius: 3px;
}

.tooltip-inner {
    max-width: 350px;
    width: 350px;
}

.tooltip-inner h4 {
    font-weight: bold;
}

i {
    font-style: normal;
}